<div class="profile-tabnav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="enrolled_courses"><i class="ti-book"></i>Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile"><i class="ti-pencil-alt"></i>Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="change_password"><i class="ti-lock"></i>Change Password</a>
        </li>
    </ul>
</div>